<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clouddle</title>
</head>
<body>
  <h1>Welcome to Clouddle!</h1>

  <form action="/send" method="post" enctype="multipart/form-data">
    <input type="file" name="uploaded_file">
    <input type="submit">
  </form>

  <a href="/files">View all files</a>
</body>
</html>